$header-height: 55px

.header
    border-bottom: solid 1px $black

    &-menu
        font-size: 28px
        line-height: $header-height
        text-align: center
        width: $header-height

    &-items
        margin-left: $space-default

    &-item
        line-height: $header-height

// Desktop screens
@media only screen and (min-width: 1170px)
    .header
        &-wrapper
            margin: auto
            overflow: hidden
            padding: 0 $space-default
            width: $app-width

        &-menu
            display: none

        &-items
            float: right

        &-item
            float: left
            margin-left: 30px
